.starWrapper {
  box-sizing: border-box;
  padding: 0 1px;
}

.starWrapper:hover {
  cursor: pointer;
}

.starBase {
  box-sizing: border-box;
}

.starBase:hover {
  box-sizing: border-box;
  padding: 2px;
}

