.todoAppWrapper {
  box-sizing: border-box;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todoWrapper {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taskPlannerWrapper {
  box-sizing: border-box;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px 0 10px;
}

.todoItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: teal;
  color: #eee;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 0px 6px #00000029;
}

.todoItem .left{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.todoItem .right{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.pinWrapper {
  box-sizing: border-box;
  padding: 0 1px;
}

.pinWrapper:hover {
  cursor: pointer;
}

.pinBase {
  box-sizing: border-box;
}

.pinBase:hover {
  box-sizing: border-box;
  padding: 2px;
}

.starWrapper {
  box-sizing: border-box;
  padding: 0 1px;
}

.starWrapper:hover {
  cursor: pointer;
}

.starBase {
  box-sizing: border-box;
}

.starBase:hover {
  box-sizing: border-box;
  padding: 2px;
}


.checkboxWrapper {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    flex-direction: row;
    align-items: center;
  }

.checkboxWrapper input[type="checkbox"] {
  -webkit-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border: 1px solid teal;
  border-radius: 4px;
  outline: none;
  background-color: #eee;
  cursor: pointer;
}

.checkboxWrapper input[type="checkbox"]:hover {
  border-color: teal;
}

.checkboxWrapper input[type="checkbox"]:checked {
  border: 1px solid teal;
  background-color: teal;
}

.checkboxWrapper input:active {
  border: 1px solid teal;
}

.checkboxWrapper input[type="checkbox"]:checked + label::before{
  content: "\2713";
  display: block;
  text-align: center;
  color: #eee;
  position: absolute;
  left: 0.35rem;
  top: 0.12rem;
}

.checkboxWrapper label {
  margin-left: 1px;
  font-size: 13px;
  cursor: pointer;
}

.checkboxWrapper input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.checkboxWrapper label::before {
    font-weight: bold;
    font-style: normal;
    font-family: system-ui;
}
.addTodoWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* padding: 50px 0 0 0; */
}
.addTodoButton {
  box-sizing: border-box;
  border: 1px teal solid;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: teal;
  color: #eee;
  box-shadow: 0px 0px 6px #00000029;
}

.addTodoButton:hover {
  cursor: pointer;
}

.addTodoButton:active {
  font-size: 11px;
  background-color: teal;
  border: 1px solid teal;
}
.addTodoInput {
  border: 1px teal solid;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 6px #00000029;
}

.addTodoInput:focus {
    outline: none;
}

/*# sourceMappingURL=features-taskPlanner-TaskPlanner-stories.0b92f432.chunk.css.map*/