.dataContentItemWrapper {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 10px;
}

.panelRow {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  padding: 10px 5px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.panelMultiRow {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.borderBottom {
  border-bottom: 1px solid #d9d8d8;
}
