.customComponentsAppWrapper {
  box-sizing: border-box;
  width: 465px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.customComponentsWrapper {
  box-sizing: border-box;
  width: 97%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

